
@{
    Layout = "~/Views/Shared/_Layout_EmployerLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employer Login</title>
</head>
<body>
    <fieldset>
        <legend>
            <h1>Employer Login</h1>
        </legend>
        <div>
            <label id="lblUSername">User Name:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input id="txtUserName" type="text" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            <br />

            <label id="lblUSername">Password:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="txtPassword" type="text" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br />
            <br />
            <input id="btnSubmit" type="submit" value="Login" />
            <br />
        </div>
    </fieldset>
</body>
</html>
