@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JobGator.com</h1>
    <br />
    <h2> Best Place to meet Employee and Employer</h2>
    <p class="lead">JobGator is the best website for finding your dream job</p>
    <p class="fade">. Employers also get the best professional for their organization here.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet Best Employees</h2>
        <p>
            Best Place to meet dream Employees.
        </p>
        <p><a class="btn btn-default" href="/Home/EmployerLogin">Employer Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet Best Employers</h2>
        <p>Meet your dream job today.</p>
        <p><a class="btn btn-default" href="/Home/EmployeeLogin">Employee Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hot Jobs!!</h2>
        <p>Check out the hot jobs for today.</p>
        <p><a class="btn btn-default" href="/Home/HotJobs">Click for Hot Jobs!! &raquo;</a></p>
    </div>
</div>